@using Microsoft.AspNetCore.Authentication
@inject IAuthenticationSchemeProvider Provider
@{
    Layout = null;
}

<!doctype html>
<html lang="ru">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="icon" type="image/png" href="/img/favicons/16x16.png" sizes="16x16">
    <link rel="stylesheet" href="/front.min.css">
</head>
<body>
<div class="l-login">
    <div class="b-login__wrap">
        <div class="b-login">
            <h2>Login</h2>
            @{
                var loginProviders = (await Provider.GetAllSchemesAsync()).ToList();
                if (!loginProviders.Any())
                {
                    <div>
                        <p>
                            Noo login !!!
                        </p>
                    </div>
                }
                else
                {
                    <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                        <div class="b-login__btn-wrap">
                            @foreach (var provider in loginProviders.ToList())
                            {
                                if (provider.DisplayName == null)
                                {
                                    continue;
                                }

                                <button type="submit" class="b-btn b-login__btn" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                            }
                        </div>
                    </form>
                }
            }
        </div>
    </div>
</div>
</body>
</html>